/**
 * CONTINGUT
 *
 *  General..............Configuració general de les etiquetes
 *  Navegador............Estils pel navegador general
 *  Footer...............Estils per al footer
 *  Poster...............Estils per al pòster fet a l'index
 *  Participants.........Estils per a al contingut de la pàgina participants
 *  Article..............Estils per a al contingut de la pàgina article
 *  Activitats...........Estils per a al contingut de la pàgina activitats
 *  
 *
 * MÒBIL
 *  Footer......Estils específics pel footer del mòbil
 *  
 * TABLET
 *  Navegador............Estils específics pel navegador de la tablet
 *  Footer...............Estils específics pel footer de la tablet
 *  Poster...............Estils específics per al pòster de la tablet
 *  Participants.........Estils específics per a al contingut de la pàgina participants de la tablet
 *  Activitats...........Estils específics per a al contingut de la pàgina activitats de la tablet
 *
 *
 * DESKTOP

 *  Navegador............Estils específics pel navegador desktop
 *  Footer...............Estils específics pel footer desktop
 *  Poster...............Estils específics per al pòster desktop
 *  Participants.........Estils específics per a al contingut de la pàgina participants desktop
 *  Article..............Estils específics per a al contingut de la pàgina desktop
 *  Activitats...........Estils específics per a al contingut de la pàgina activitats desktop
 *
 */


/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: $blau;
  text-align: right;
  font-size:  300%;

}



/*---------------------------------*\
    #NAVEGADOR GENERIC
\*---------------------------------*/
.nav {
  padding-top:    1.2rem;
  padding-bottom: 1.2rem;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  box-shadow:     0px 4px 8px rgba(0, 0, 0, 0.2);

  &__logo {
    display:        flex;
    flex-direction: row;
    align-items:    flex-start;

    &__img {
      width:        2rem;
      margin-right: 0.6rem;
    }

    &__p {
      font-size:   150%;
      color:       $blau;
      font-weight: bold;
    }

    &__a {
      text-decoration: none;
    }
  }

  &__pages {

    &__ul {
      display:        flex;
      flex-direction: column;
      align-items:    center;
      list-style:     none;
      padding-left:   0rem;

      &__li {
        margin-top: 0.8rem;

        &__a {
          text-decoration: none;
          color: $blau;

          &:hover {
            color: $salmo;
          }
        }
      }
    }
  }
}

/*---------------------------------*\
    #FOOTER GENERIC
\*---------------------------------*/
.footer {
  padding-top:    1.2rem;
  padding-bottom: 1.2rem;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  box-shadow:     0px 4px 8px rgba(0, 0, 0, 0.2);

  &__logo {
    display:         flex;
    flex-direction:  row;
    align-items:     flex-start;
    justify-content: center;

    &__img {
      width:        8%;
      height:       auto;
      margin-right: 0.6rem;
    }

    &__p {
      font-size:   120%;
      color:       $blau;
      font-weight: bold;
    }

    &__a {
      text-decoration: none;
    }
  }

  &__pages {

    &__ul {
      list-style:     none;
      display:        flex;
      flex-direction: column;
      align-items:    center;
      text-align:     center;
      padding-left:   0rem;

      &__li {
        margin-top:   0.8rem;


        &__a {
          text-decoration: none;
          color: $blau;

          &:hover {
            color: $salmo;
          }
        }
      }
    }
  }
}

/*---------------------------------*\
    #POSTER GENERIC
\*---------------------------------*/


.wrap {
  display:               grid;
  grid-template-columns: 2fr 1fr;
  margin:   5%;
  grid-gap: 0.5%;
  margin-bottom: 2rem;


  &__data {
    grid-column:   1/2;
    border-top:    0.5rem solid $blau;
    border-bottom: 1rem solid $blau;

    &__p {
      font-size:  120%;
      text-align: right;
      color:      $blau;
    }
  }

  &__bola {
    display:     flex;
    align-items: center;
    grid-row:    3;
    grid-column: 1;
 

    &__svg {
      margin:    auto;
      max-width: 100%;
    }
  }

  &__welcome {
    grid-column: 2;
    grid-row:    2;
    color:       $blau;
    text-align:  right;
    font-size:   300%;
  }

  &__tennis {
    grid-column: 1/ span 2;
    grid-row:    3;
    color:       $blau;
    text-align:  right;
    font-size:   300%;
  }

  &__text {
    grid-row:        5;
    height:          30rem;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    position:        relative;

    &__p {
      text-align: justify;
      color:      $blau;
    }

    &::before {
      content: '';
      position: absolute;
      top:      0;
      left:     10%;
      right:    10%;
      bottom:   0;
      background-color: $salmo;
      z-index:  -1;
    }
  }

  &__join {
    grid-row:        5;
    display:         flex;
    align-items:     center;
    justify-content: center;

    &__a {
      text-transform:  uppercase;
      font-weight:     bolder;
      text-decoration: none;
      transform:       rotate(90deg);
      color:           $blau;
      font-size:       2rem;
      text-align:      center;

      &:hover {
        color:            $salmo;
        background-color: $blau;
      }
    }
  }
}



/*---------------------------------*\
    #PARTICIPANTS GENERIC
\*---------------------------------*/
.participants {
  margin:         1.5rem;
  display:        flex;
  flex-direction: column;

  &__h1 {
    text-align: center;
    font-size:  180%;
  }

  &__text {
    text-align: justify;
    margin-top: 2rem;
  }

  &__people {

    &__each {
      margin-top:     2rem;
      display:        flex;
      flex-direction: column;
      align-items:    center;

      &__img {
        width:  85%;
        margin: 1.2rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
      }

      &__dades {

        &__h2 {
          color:      $salmo;
          text-align: center;
        }

        &__ul {
          list-style: none;

          &__li {
            line-height: 1.5rem;
            text-align:  left;
            margin-left: 1rem;
            color:       $blau;

            &:last-child {
              text-align:  center;
              font-style:  italic;
              padding-top: 0.7rem;
            }

            &::before {
              content: "";
            }

            &__span {
              text-decoration: underline;
              font-weight:     bold;
            }
          }
        }
      }
    }
  }
}

/*---------------------------------*\
    #ARTICLE GENERIC
\*---------------------------------*/

.article {
  display:        flex;
  align-items:    center;
  flex-direction: column;

  & :where(.article__text, .article__segon) span {
    font-style: italic;
  }

  &__portada {
    width:         100%;
    margin-bottom: 2rem;
  }

  &__inicial {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    width:          80%;

    &__blockquote {
      background-color: darken($gris, 10);
      font-size: 1.2rem;
      font-style: italic;
      text-align: center;
      width: 80%;
      margin-bottom: 2rem;
      padding: 1rem;
      color: $blau;
    }

    &__p {
      text-align: justify;
      color:      $blau;
    }
  }

  &__llista {
    width:          80%;
    margin-bottom:  2rem;
    margin-top:     2rem;
    padding-bottom: 1.2rem;

    &:has(ol > li) {
      border-top:    0.3rem solid $blau;
      border-bottom: 0.3rem solid $blau;
    }

    &__ol {
      list-style-position: inside;

      &__li {
        margin-left:  2rem;
        margin-right: 2rem;
        text-align:   justify;

        &::before {
          color: $blau;

        }

        &__titol {
          font-weight:   bold;
          margin-top:    0.8rem;
          margin-bottom: 0.5rem;
          color:         $salmo;
        }

        &__p {
          color: $blau;
        }
      }
    }
  }


  &__segon {
    align-items: center;
    width:       80%;

    & :is(h2, p) {
      color: $blau;
    }

    &__h2 {
      padding-bottom: 0.5rem;
    }

    &__p {
      text-align:     justify;
      padding-bottom: 1.5rem;

    }
  }

  &__img {
    width:         80%;
    margin-bottom: 1.5rem;

  }

  &__text {
    color:          $blau;
    text-align:     justify;
    padding-bottom: 1.5rem;
    width:          80%;
  }
}

/*---------------------------------*\
    #ACTIVITIES GENERIC
\*---------------------------------*/

.act {
  display:        flex;
  flex-direction: column;
  align-items:    center;

  &__carousel {
    width:         90%;
    margin-top:    2dvw;
    margin-bottom: 2dvw;
  }

  &__coaches {
    align-items: center;
    width:       80%;

    &__h2 {
      color:     hwb(244 2% 61%);
      text-align: center;
    }

    &__p {
      color:      hwb(244 2% 61%);
      text-align: justify;
    }

    &__cards {
      display:        flex;
      flex-direction: column;
      align-items:    center;

      &__card {
        margin-bottom: 5dvw;

        &__title {
          color: hwb(9 38% 0%);
        }

        &__text {
          color: hwb(244 2% 61%);
        }

      }
    }
  }

  &__game {
    align-items: center;
    width:       80%;
    margin-top:  8dvw;

    &__h2 {
      color:      hwb(244 2% 61%);
      text-align: center;
      margin-bottom: 3dvw;
    }

    &__questions {      
      margin-bottom: 4dvw;
      border-bottom: 0.2dvw solid hwb(9 38% 0%);

      &__p {
        color:      hwb(244 2% 61%);
        text-align: justify;
      }
      &__button{
        color:            hwb(0deg 99% 2%);;
        background-color: hwb(244 2% 61%);
        border:           none;
      }
    }
  }

  &__accordion {
    margin-top:    4dvw;
    margin-bottom: 4dvw;
    width:         80%;
    align-items:   center;

    &__h2 {
      color:      hwb(244 2% 61%);
      text-align: center;
      margin-bottom: 3dvw;
    }

    &__item{
      &__div{
        &__body{
          color: hwb(244 2% 61%);
        }
      }
    }
  }
}



/*------------------------------------------------------*\
  #MOBIL
\*------------------------------------------------------*/

@media (280px < width <=768px) {

  /*---------------------------------*\
    #FOOTER MOBIL
  \*---------------------------------*/
  .footer {

    &__network {
      padding-top:    2rem;
      padding-bottom: 2rem;
    }
  }
}


/*------------------------------------------------------*\
  #TABLET
\*------------------------------------------------------*/

@media (768px<=width <=1024) {

  /*---------------------------------*\
    #NAVEGADOR TABLET
  \*---------------------------------*/

  .nav {

    &__pages {

      &__ul {
        flex-direction: row;

        &__li {
          font-size:    1.2rem;
          margin-right: 0.2rem;

          &::before {
            content: " | ";
          }

          &:first-child::before {
            content: "";
          }
        }
      }
    }
  }

  /*---------------------------------*\
    #FOOTER TABLET
  \*---------------------------------*/

  .footer {

    &__pages {

      &__ul {
        flex-direction: row;

        &__li {
          font-size:    1.2rem;
          margin-right: 0.2rem;

          &::before {
            content: " | ";
          }

          &:first-child::before {
            content: "";
          }
        }
      }
    }

    &__network {
      padding-top: 1.2rem;
    }
  }

  /*---------------------------------*\
    #POSTER TABLET
  \*---------------------------------*/

  .wrap {

    &__data {

      &__p {
        font-size: 2rem;
      }
    }

    &__welcome {
      font-size:    3.5rem;
      margin-right: 10rem;
    }

    &__tennis {
      font-size:  5rem;
      text-align: center;
    }

    &__text {

      &::before {
        top:   0;
        left:  20%;
        right: 20%;
      }

      &__p {
        font-size:   1.2rem;
        margin-left: 2rem;
      }
    }
  }

  /*---------------------------------*\
    #PARTICIPANTS TABLET
  \*---------------------------------*/
  .participants {

    &__h1 {
      margin-top: 4 rem;
    }

    &__text {
      margin-left:  3rem;
      margin-right: 3rem;
    }

    &__people {

      &__each {
        flex-direction: row;
        margin-left:    3rem;
        margin-right:   3rem;

        &__img {
          width: 20rem;
        }

        &__dades {

          &__ul {

            &__li {

              &:last-child {
                text-align: left;
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }
  }

  /*---------------------------------*\
    #ACTIVITATS TABLET
  \*---------------------------------*/
  .act {
    &__coaches {
      &__cards {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       wrap;
        justify-content: space-around;

        &__card {
          width: 40%;
        }
      }
    }
  }
}


/*------------------------------------------------------*\
  #DESKTOP
\*------------------------------------------------------*/

@media (width > 1024px) {

  /*---------------------------------*\
    #NAVEGADOR DESKTOP
  \*---------------------------------*/

  .nav {
    flex-direction:  row;
    justify-content: space-between;
    padding-left:    2rem;
    padding-right:   2rem;

    &__pages {

      &__ul {
        flex-direction: row;

        &__li {
          font-size:    1.2rem;
          margin-right: 0.2rem;
          margin-top:   0rem;

          &::before {
            content: " | ";
          }

          &:first-child::before {
            content: "";
          }
        }
      }
    }
  }

  /*---------------------------------*\
    #FOOTER DESKTOP
  \*---------------------------------*/

  .footer {
    flex-direction:  row;
    justify-content: space-between;
    padding:         2.5rem;

    &__pages {

      &__ul {
        flex-direction: row;

        &__li {
          font-size:    1.3rem;
          margin-right: 0.2rem;
          margin-top:   0;

          &::before {
            content: " | ";

          }

          &:first-child::before {
            content: "";
          }
        }
      }
    }

    &__network {
      &__i {
        margin-left: 1.2rem;
      }
    }
  }

  /*---------------------------------*\
    #POSTER DESKTOP
  \*---------------------------------*/
  .containerwrap {
    overflow: hidden;
  }

  .wrap {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:            0;
    transform:             rotate(-15deg);

    &__bola {

      &__svg {
        margin:    0;
        transform: scale(.5);
      }
    }

    &__welcome {
      font-size:   300%;
      text-align:  left;
      grid-column: 1/ span 2;
      grid-row:    2;
      margin-left: 2rem;
    }

    &__tennis {
      font-size:   400%;
      text-align:  left;
      grid-column: 1/ span 2;
      grid-row:    3;

    }

    &__text {
      grid-row:    3;
      grid-column: 2;
      font-size:   85%;

      &::before {
        top:           0;
        left:          60%;
        right:         60%;
        padding-right: 100%;
      }

      &__p {
        font-size:   120%;
        margin-left: 50%;
        margin-top:  20%;
      }
    }

    &__join {
      justify-content: flex-start;
      grid-row:        3;
      grid-column:     3;

      &__a {
        font-size: 300%;
      }
    }
  }

  /*---------------------------------*\
    #PARTICIPANTS DESKTOP
  \*---------------------------------*/

  .participants {
    display: flex;

    &__h1 {
      margin-top: 4rem;
      font-size:  300%;
    }

    &__text {
      margin-left:  20%;
      margin-right: 20%;
      font-size:    1.4rem;
    }

    &__people {
      display:         flex;
      flex-wrap:       wrap;
      justify-content: space-around;

      &__each {
        flex-direction: column;
        width:          25%;
        margin-left:    3rem;
        margin-right:   3rem;

        &__img {
          width: 22rem;
        }

        &__dades {

          &__ul {
            margin-top: 1.2rem;

            &__li {
              font-size:  125%;
              margin-top: 0.5rem;

              &:last-child {
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }
  }

  /*---------------------------------*\
    #ARTICLE DESKTOP
  \*---------------------------------*/

  .article {
    line-height: 1.5rem;

    &__inicial {
      width: 50%;
      flex-direction: row;

      &__blockquote {
        text-align:   justify;
        font-size:    1.2rem;
        margin-right: 2rem;
      }
    }

    &__img {
      width: 50%;
    }
  }

  /*---------------------------------*\
    #ACTIVITATS DESKTOP
  \*---------------------------------*/

  .carousel {
    width: 50%;
  }

  .accordion {
    width: 70%;
  }

  .act {
    &__coaches {
      &__cards {
        display: flex;
        flex-direction:  row;
        justify-content: space-evenly;

        &__card {
          margin: 1rem;
        }
      }
    }
    &__game{
      &__questions{
        border-bottom: 0.1dvw solid hwb(9 38% 0%);
      }
    }
  }
}