@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;

/*Color variables*/
$blau:     #02055D;
$salmo:    #FF6752;
$gris:     #F7F7F7;
$grisfosc: #D3D3D3;


/*Collapse*/
$transition-collapse:  height 1.35s ease;


/*Carousel*/
$carousel-transition-duration: .9s;

/*Accordion*/
$accordion-button-active-bg: $grisfosc;
$accordion-border-color: $blau;
$accordion-button-focus-border-color: $blau;
$accordion-icon-active-color: $blau;
$accordion-button-active-color: $blau; 
$accordion-button-color: $blau;

/*Cards*/
$card-border-color: $blau;